.todo-list-item{
    display: flex;
}

.btn-high{
    margin-left: auto;
    margin-right: 0.8rem;
}

.todo-list-label{
    cursor: pointer;
}

.todo-list-item.done{
    text-decoration: line-through;
}

.todo-list-item.important .todo-list-label{
    font-weight: bold;
    color: tomato;
}
