.todo-list-item{
    display: flex;
}

.btn-high{
    margin-left: auto;
    margin-right: 0.8rem;
}

.todo-list-label{
    cursor: pointer;
}

.todo-list-label.done{
    text-decoration: line-through;
}